torch
torchvision
numpy
datasets

# simulation
gymnasium
mujoco # or mujoco==3.x
metaworld
robosuite
robomimic

# data / image utils
opencv-python
matplotlib

# misc
tqdm

# video deps
imageio
imageio[ffmpeg]

# nevergrad for optimization
nevergrad

# W&B
wandb

# peft
peft

